h1 Airtable Website Demo
p The Airtable base used in this demo is the base below copied from the <a href="https://airtable.com/templates/arts-and-culture/expAZgezgpfCF8wVH/art-gallery" target="_blank">Art Gallery Management template</a>. Website created by <a href="https://www.upwork.com/o/profiles/users/_~012466e3429c0e1f53/" target="_blank">Noam Say</a> using tools focusing on productivity and simplicity: <a href="https://www.ruby-lang.org/" target="_blank">Ruby</a>, <a href="http://slim-lang.com/about.html" target="_blank">Slim</a>,  <a href="https://airtable.com/api" target="_blank">Airtable API</a> and <a href="http://sinatrarb.com/" target="_blank">Sinatra Framework</a>.
div
  <a href="/artists" class="btn btn-primary">Continue to Website</a>
div
  <iframe class="airtable-embed" src="https://airtable.com/embed/shrebRxgIo3aTn07F?backgroundColor=red&viewControls=on" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>


